<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>725991535297-odmopg8ecl9d81s5c7bv3ec4efjmjf6i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.725991535297-odmopg8ecl9d81s5c7bv3ec4efjmjf6i</string>
	<key>API_KEY</key>
	<string>AIzaSyDn_1Hcn7VI0ld8lGiwCVHfVwUeNj7SQ_I</string>
	<key>GCM_SENDER_ID</key>
	<string>725991535297</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.quizzApp</string>
	<key>PROJECT_ID</key>
	<string>quizzy-4352c</string>
	<key>STORAGE_BUCKET</key>
	<string>quizzy-4352c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:725991535297:ios:f144652d01df88af3b1a40</string>
</dict>
</plist>